body {
    background-color: rgb(255, 65, 65);
}

/* изображение в карточке новости */
.news-image {
    max-width: 700px;
    max-height: 700px;
}

/* спойлер новости на главной странице */
.home-spoiler img {
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    max-width: 200px;
    max-height: 200px;
}

/* иконки на странице авторизации */
.login-icon-sign {
    width: 30px;
}
