body {
    background-color: rgb(250, 250, 250);
}

/* изображение в карточке новости */
.news-image {
    width: 700px;
    height: 700px;
}

/* спойлер новости на главной странице */
.home-spoiler > img {
    width: 150px;
    height: 150px;
}